### Q.1.What are data structures, and why are they important?

Ans>> data structures are different ways of organizing and storing data so that it can be used effectively. Python provides several built-in data structures such as lists, tuples, sets, and dictionaries, which allow us to handle data in different situations.

They are important because choosing the right data structure makes programs faster, easier to manage, and more efficient. For example, lists are good for ordered data, sets help remove duplicates, and dictionaries are useful for key–value mappings.

---

### Q.2.Explain the difference between mutable and immutable data types with examples.

Ans>> data types can be divided into mutable and immutable types.

**Mutable** data types are those whose values can be changed after they are created. For example, a list can be updated by adding, removing, or modifying elements:

    my_list = [1, 2, 3]  
    my_list[0] = 10   # list is changed

**Immutable data** types cannot be changed once they are created. Any modification creates a new object. For example, strings and tuples are immutable:

    my_str = "hello"  
    my_str = my_str + " world"  # creates a new string, old one is unchanged

so, Lists, sets, and dictionaries are mutable, while strings, tuples, and numbers are immutable.

---

###  Q.3.What are the main differences between lists and tuples in Python?

Ans>> Both lists and tuples are used to store collections of items, but they differ in a few key ways:

Mutability: Lists are mutable, meaning their elements can be changed, added, or removed. Tuples are immutable, so once created, their elements cannot be modified.

Syntax: Lists are written with square brackets [ ], while tuples use parentheses ( ).

    my_list = [1, 2, 3]   # can change
    my_tuple = (1, 2, 3)  # cannot change

---

### Q.4. Describe how dictionaries store data.

Ans>> Dictionaries store data in the form of key–value pairs. Each key acts like a unique label, and the value is the data linked to that key. This makes it easy to quickly find a value by using its key instead of searching through the entire collection.

Internally, dictionaries use a technique called hashing, which allows very fast access, insertion, and deletion of data.

---

### Q.5.Why might you use a set instead of a list in Python?

Ans>> We might use a set instead of a list when we want to store unique elements only, because sets automatically remove duplicates. Sets are also faster than lists for checking membership (e.g., testing if an item exists) since they use hashing.

---

### Q.6.What is a string in Python, and how is it different from a list?

Ams>> In Python, a string is a sequence of characters enclosed in single quotes (' '), double quotes (" "), or triple quotes (''' '''). For example:

    my_str = "Hello"

The difference between a string and a list is that:

A string stores characters only, while a list can store elements of different data types (numbers, strings, etc.).

Strings are immutable (cannot be changed after creation), whereas lists are mutable (elements can be modified).

---

### Q.7.How do tuples ensure data integrity in Python?

Ans>> Tuples ensure data integrity in Python because they are immutable. Once a tuple is created, its elements cannot be changed, added, or removed. This makes tuples reliable for storing fixed collections of data that should not be altered accidentally during program execution.

---

### Q.8. What is a hash table, and how does it relate to dictionaries in Python?

Ans>> A hash table is a data structure that stores data in key–value form and uses a hashing function to quickly map each key to its storage location. This makes operations like searching, inserting, and deleting very fast.

In Python, dictionaries are implemented using hash tables. Each key is hashed to find its position in memory, and the value is stored at that location. This is why dictionary lookups with keys are much faster than searching in lists.

---

### Q.9.Can lists contain different data types in Python?

Ans>> Yes, in Python a list can contain elements of different data types. For example, a list can store integers, strings, floats, or even other lists together.

    my_list = [10, "hello", 3.5, [1, 2, 3]]

---

### Q.10. Explain why strings are immutable in Python?

Ans>>  Strings in Python are immutable, meaning their content cannot be changed after creation. This design choice is made because:

Memory and performance: Immutable objects can be safely shared across programs without risk of being altered, which saves memory.

Security and reliability: Since strings are widely used as keys in dictionaries and for handling sensitive data, immutability ensures they remain consistent and unchanged.

---

### Q.11.What advantages do dictionaries offer over lists for certain tasks?

Ans>> Dictionaries offer advantages over lists when we need to quickly access data using a unique key. Unlike lists, where you search by index or scan through elements, dictionaries allow fast lookups, insertions, and deletions using keys.

They are also more meaningful for storing related information, since data is kept in key–value pairs (like a name with its age), making programs easier to understand and manage.

---

### Q.12. Describe a scenario where using a tuple would be preferable over a list.

Ans>> A tuple is preferable when the data should not be changed throughout the program. For example, storing the latitude and longitude of a city works better in a tuple because those values are fixed and should not be modified accidentally.

    coordinates = (28.6, 77.2)  # Delhi coordinates

---

### Q.13. How do sets handle duplicate values in Python?

Ans>> In Python, sets automatically remove duplicate values. If the same element is added more than once, the set keeps only one copy of it. This is because sets are based on hashing, and each element must be unique.

    my_set = {1, 2, 2, 3}
    print(my_set)   # Output: {1, 2, 3}

---

### Q.14.How does the “in” keyword work differently for lists and dictionaries?

Ans>> The in keyword is used to check membership, but it works differently for lists and dictionaries:

In lists: it checks if a value exists among the elements.

    nums = [1, 2, 3]
    print(2 in nums)   # True

In dictionaries: it checks if a key exists, not the value.

    student = {"name": "Rahul", "age": 20}
    print("name" in student)   # True
    print(20 in student)       # False

---

### Q.15. Can you modify the elements of a tuple? Explain why or why not?

Ans>> No, the elements of a tuple cannot be modified because tuples in Python are immutable. Once a tuple is created, its values cannot be changed, added, or removed. This design ensures data integrity and makes tuples useful for storing constant or fixed information.

    my_tuple = (1, 2, 3)
    my_tuple[0] = 10   # Error: tuples are immutable

---

### Q.16.What is a nested dictionary, and give an example of its use case?

Ans>> A nested dictionary is a dictionary inside another dictionary. It allows us to store data in a structured way, where each key can hold another dictionary as its value.

Use case: Nested dictionaries are useful for representing complex data, like storing student information where each student has details such as age and course.

    students = {
    "101": {"name": "Rahul", "age": 20, "course": "BCA"},
    "102": {"name": "Priya", "age": 21, "course": "B.Sc"}
    }
    
---

### Q.17.Describe the time complexity of accessing elements in a dictionary.

Ans>> Accessing elements in a dictionary is generally very fast because dictionaries use hash tables.

The average time complexity for accessing an element by key is O(1) (constant time).

In the worst case (rare situations like hash collisions), it can take O(n) time, but this is uncommon.

    student = {"name": "Rahul", "age": 20}
    print(student["age"])   # O(1) lookup

---

### Q.18.In what situations are lists preferred over dictionaries?

Ans>> Lists are preferred over dictionaries when the data is ordered, simple, and does not need key–value pairs. They are useful if you only care about the sequence of items, need to access elements by their position (index), or when duplicate values are allowed.

    fruits = ["apple", "banana", "mango", "apple"]  # order + duplicates allowed
    
---

### Q.19.Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans>> Dictionaries are considered unordered because they do not store elements by position or index like lists. Instead, they use keys that are mapped to values through hashing. This means you cannot rely on the physical order of items to retrieve data.

For data retrieval, you must use the key, not the position. While modern Python (3.7+) preserves insertion order, the logical way to access values is still through keys, not by sequence.

    student = {"name": "Rahul", "age": 20}
    print(student["name"])   # retrieval by key

---

### Q.20.Explain the difference between a list and a dictionary in terms of data retrieval.

Ans>> **lists** retrieve data using an index number, which represents the position of an element in the sequence. 

For example:
    
    fruits = ["apple", "banana", "mango"]
    print(fruits[1])   # "banana"

**Dictionaries**, on the other hand, retrieve data using a key, not a position. Each key is mapped to a value, making lookups faster and more meaningful.

    student = {"name": "Rahul", "age": 20}
    print(student["name"])   # "Rahul"
    
---

# Practical Questions

### Q.1.Write a code to create a string with your name and print it.

In [2]:
# create a variable called 'name' and store a string inside it
name = "Himanshu"

# print the value stored in the variable 'name'
print(name)

Himanshu

---

### Q.2.Write a code to find the length of the string "Hello World".

In [5]:
# store the string "Hello World" in a variable
text = "Hello World"

# use the built-in len() function to find the length of the string
length = len(text)

# print the length of the string
print(length)

11

---

### Q.3.Write a code to slice the first 3 characters from the string "Python Programming".

In [7]:
# store the string "Python Programming" in a variable
text = "Python Programming"

# slice the first 3 characters using indexing [0:3]
first_three = text[0:3]

# print the sliced part
print(first_three)

Pyt

---

### Q.4. Write a code to convert the string "hello" to uppercase.

In [56]:
# store the string "hello" in a variable
text = "hello"

# use the upper() method to convert all characters to uppercase
uppercase_text = text.upper()

# print the converted string
print(uppercase_text)

HELLO

---

### Q.5.Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [57]:
# store the string "I like apple" in a variable
text = "I like apple"

# use the replace() method to replace "apple" with "orange"
new_text = text.replace("apple", "orange")

# print the updated string
print(new_text)

I like orange

---

### Q.6.Write a code to create a list with numbers 1 to 5 and print it.

In [58]:
# create a list containing numbers from 1 to 5
numbers = [1, 2, 3, 4, 5]

# print the list
print(numbers)

[1, 2, 3, 4, 5]

---

### Q.7.Write a code to append the number 10 to the list [1, 2, 3, 4]

In [59]:
# create a list with numbers 1 to 4
numbers = [1, 2, 3, 4]

# use the append() method to add the number 10 at the end of the list
numbers.append(10)

# print the updated list
print(numbers)

[1, 2, 3, 4, 10]

---

### Q.8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [60]:
# create a list with numbers 1 to 5
numbers = [1, 2, 3, 4, 5]

# remove the number 3 from the list using remove() method
numbers.remove(3)

# print the updated list
print(numbers)

[1, 2, 4, 5]

---

### Q.9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [61]:
# create a list of letters
letters = ['a', 'b', 'c', 'd']

# access the second element using index 1 (indexing starts from 0)
second_element = letters[1]

# print the second element
print(second_element)

b

---

### Q.10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [62]:
# create a list of numbers
numbers = [10, 20, 30, 40, 50]

# reverse the list using reverse() method
numbers.reverse()

# print the reversed list
print(numbers)

[50, 40, 30, 20, 10]

---

### Q.11.Write a code to create a tuple with the elements 100, 200, 300 and print it

In [63]:
# create a tuple with elements 100, 200, 300
numbers = (100, 200, 300)

# print the tuple
print(numbers)

(100, 200, 300)

---

### Q.12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [24]:
# create a tuple of colors
colors = ('red', 'green', 'blue', 'yellow')

# access the second-to-last element using negative indexing
second_last = colors[-2]

# print the second-to-last element
print(second_last)

blue

---

### Q.13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [26]:
# create a tuple of numbers
numbers = (10, 20, 5, 15)

# use the min() function to find the smallest number
minimum = min(numbers)

# print the minimum number
print(minimum)

5

---

### Q.14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [64]:
# create a tuple of animals
animals = ('dog', 'cat', 'rabbit')

# use the index() method to find the position of "cat"
position = animals.index("cat")

# print the index of "cat"
print(position)

1

---

### Q.15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [30]:
# create a tuple containing three different fruits
fruits = ("apple", "banana", "mango")

# check if "kiwi" is present in the tuple using 'in' keyword
is_kiwi_present = "kiwi" in fruits

# print the result (True if present, False if not)
print(is_kiwi_present)

False

---

### Q.16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [65]:
# create a set with elements 'a', 'b', 'c'
letters = {'a', 'b', 'c'}

# print the set
print(letters)

{'b', 'c', 'a'}

---

### Q.17.Write a code to clear all elements from the set 1, 2, 3, 4, 5}.

In [66]:
# create a set with numbers 1 to 5
numbers = {1, 2, 3, 4, 5}

# remove all elements from the set using clear() method
numbers.clear()

# print the empty set
print(numbers)

set()

---

### Q.18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [67]:
# create a set with numbers 1 to 4
numbers = {1, 2, 3, 4}

# remove the element 4 using remove() method
numbers.remove(4)

# print the updated set
print(numbers)

{1, 2, 3}

---

### Q.19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [68]:
# create two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# find the union of the two sets using union() method
union_set = set1.union(set2)

# print the union set
print(union_set)

{1, 2, 3, 4, 5}

---

### Q.20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [70]:
# create two sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# find the intersection of the two sets using intersection() method
intersection_set = set1.intersection(set2)

# print the intersection set
print(intersection_set)

{2, 3}

---

### Q.21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [71]:
# create a dictionary with keys and their corresponding values
person = {"name": "John", "age": 25, "city": "New York"}

# print the dictionary
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

---

### Q.22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [72]:
# create the initial dictionary
person = {"name": "John", "age": 25}

# add a new key-value pair using assignment
person["country"] = "USA"

# print the updated dictionary
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

---

### Q.23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [74]:
# create a dictionary
person = {"name": "Alice", "age": 30}

# access the value of the key "name"
name_value = person["name"]

# print the value
print(name_value)

Alice

---

### Q.24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [75]:
# create a dictionary
person = {"name": "Bob", "age": 22, "city": "New York"}

# remove the key "age" using pop() method
person.pop("age")

# print the updated dictionary
print(person)

{'name': 'Bob', 'city': 'New York'}

---

### Q.25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [76]:
# create a dictionary
person = {"name": "Alice", "city": "Paris"}

# check if "city" is a key in the dictionary using 'in' keyword
is_city_present = "city" in person

# print the result (True or False)
print(is_city_present)

True

---

### Q.26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [77]:
# create a list
my_list = [1, 2, 3]

# create a tuple
my_tuple = (4, 5, 6)

# create a dictionary
my_dict = {"name": "Alice", "age": 25}

# print all of them
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'name': 'Alice', 'age': 25}

---

### Q.27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [78]:
import random

# create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# sort the list in ascending order
random_numbers.sort()

# print the sorted list
print(random_numbers)

[16, 70, 84, 93, 97]

---

### Q.28. Write a code to create a list with strings and print the element at the third index.

In [79]:
# create a list of strings
fruits = ["apple", "banana", "mango", "orange", "kiwi"]

# access and print the element at index 3 (fourth element)
print(fruits[3])

orange

---

### Q.29. Write a code to combine two dictionaries into one and print the result.

In [80]:
# create two dictionaries
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

# combine dictionaries using the update() method
dict1.update(dict2)

# print the combined dictionary
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

---

### Q.30. Write a code to convert a list of strings into a set.

In [81]:
# create a list of strings
names = ["Alice", "Bob", "Alice", "Charlie"]

# convert the list into a set to remove duplicates
names_set = set(names)

# print the set
print(names_set)

{'Alice', 'Bob', 'Charlie'}

---